body {
  font-family: cursive;
}

#header-nav {
  border-radius: 0;
  border: 0;
  padding-bottom: 10px;
}

.navbar-brand h1 { 
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list {
  padding-top: 10px;
}

#nav-list a {
  text-align: center;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

h1, h3 {
  text-align: center;
  font-weight: bold;
}

p {
  text-align: justify;
}

#box1, #box3 {
  background-color: #D3D3D3;
  padding: 10px;
  margin: 10px;
}

#box2 {
  padding: 10px;
  margin: 10px;
}
  